**/.mta
**/*.mtar
bin/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
package-lock.json
*.log*
gc_history*
hs_err*
.flattened-pom.xml
.mvn/timing.properties
.DS_Store
.classpath
.project
.settings
.vscode
node
node_modules
model*.json
model*.sql
*model.sql
*.csn
csn.json
classpath-data.json
.factorypath
*.iml
/.idea/*
!/.idea/codeStyles
.java-version

# Intellij Coverage Reports
htmlReport/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.groovylintrc.json
**/src/gen/**
/.scannerwork
