name: Blackduck Scan

env:
  MAVEN_VERSION: "3.9.11"

on:
  schedule:
    # Run nightly at 2 AM UTC
    - cron: "0 2 * * *"
  workflow_dispatch: # Allow manual trigger
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
permissions:
  contents: write
  id-token: write

jobs:
  blackduck:
    name: Blackduck Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Scan With Black Duck
        uses: ./.github/actions/scan-with-blackduck
        with:
          blackduck_token: ${{ secrets.BLACK_DUCK_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          maven-version: ${{ env.MAVEN_VERSION }}
