name: PR Build

env:
  MAVEN_VERSION: '3.9.11'

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 17, 21 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build
        uses: ./.github/actions/build
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}